.links-title {
    text-align: center;
    font-weight: bold;
    font-size: 2.75rem;
    /*background-image: linear-gradient(120deg, #B78628, #FFDF91);*/
}

header {
    background-color: #161616;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 15px 2% 0 2%;

}
.card-img-top {
    height: 150px;
}
.btn-warning {
    color: white;
}