body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.herobanner {
    background-repeat: no-repeat;
    background-image: url("https://cdn.discordapp.com/attachments/413089272141316101/824669363734970368/unknown.png");
    height: 1080px;
    width: 100vw;
}

.title {
    text-decoration: underline 3px;
    color: white;
    text-align: center;
    font-size: 5rem;
    margin-top: 5rem;
}

.single {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-bottom: -1px;
}

.youtube {
    display: flex;
    justify-content: center;
}

.socials {
    width: 100vw;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #B78628, #FFDF91, #B78628);
}

.social-info {
    font-weight: 800;
    font-size: 1.3vw;
    margin: auto;
}

.fab {
    margin-right: 6px;
    vertical-align: middle;
    color: #212529;
}

.container {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;

}

.foto-container {
    width: 41%;
}

.text {
    margin-left: 1%;
    width: 38%;
    font-size: 1.2vw;
    font-weight: 400;
}

.single-title {
    font-weight: 800;
    font-size: 1.9vw;

}